@import '/styles/vars.sass'

.footer
    display: flex
    justify-content: space-between
    align-items: center
    color: $color_text_secondary
    padding-top: 4vw
    padding-bottom: 4vw

.footer_logo
    width: 9vw

.footer_links
    display: flex
