@import '/styles/vars'

body
    color: $color_white
    font-family: Nunito Sans

button
    background-color: inherit
    border: none
    font-size: inherit
    color: inherit
    cursor: pointer

a
    text-decoration: none
    color: inherit

p, a, button
    font-size: 1.2vw

.container
    max-width: $mainContentWidth
    padding: $mainSidesPadding
    padding-top: 0
    padding-bottom: 0
    margin: 0 auto
