// colors   
$color_black: #19191B
$color_white: #ffffff
$color_primary: #5454D4

$color_text_primary: #ffffff
$color_text_secondary: rgba(255, 255, 255, 0.7)

// screens
$large: 1440px
$medium: 768px
$small: 375px

// units
$contentWidthLarge: $large
$contentWidthSmall: 423px // 375 + 24 + 24
$mainSidesPaddingLarge: min(123px, 11%)
$mainSidesPaddingSmall: 24px
